node_modules/
output/
bower_components/
dist/
node_modules/
.psci_modules/
.browserify-cache.json
!dist/.empty
!output/.empty
*.swp
*.o
*.hi
*.cmi
*.cmo
*.cmx
*.cmm
*.glob
*.vo
*.ibc
*.idr
*.class
*.bak
*.pyc
*.DS_Store
.cabal-sandbox/
dist/
vendor/
dev/
tmp/
cabal.sandbox.config
streams
target
core
.DS_Store
ext
test-cases
build/js/*
!build/js/.empty
